{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/CSS/homeAdmin.css">
{% endblock %}

{% block body %}
<h1 style="text-align: center; color: black!important; font-weight: 500; margin-bottom: 50px;"><strong>Le stock</strong></h1>
{% for i in 0..taille %} 
    <div class="annonce">
        <div class="int-annonce">
            <div class="description">
                <h2 class="nom-voiture"> {{vehicules[i].carac['marque']}} {{ vehicules[i].modele }} </h2>
                <div class="carac">
                    <img class="icons" src="https://img.icons8.com/pastel-glyph/24/000000/gearbox-selector.png"/>
                    <span>{{vehicules[i].carac['boite']}}</span>
                </div>
                <div class="carac">
                    <img class="icons" src="https://img.icons8.com/small/24/000000/engine.png"/>
                    <span>{{vehicules[i].carac['moteur']}}</span>
                </div>
                <div class="carac">
                    <img class="icons" src="https://img.icons8.com/material-rounded/24/000000/conference-call.png"/>
                    <span>{{vehicules[i].carac['nbPlaces']}} Places</span>
                </div>
                <div class="carac">
                    <img class="icons" src="https://img.icons8.com/material-outlined/24/000000/car-door.png"/>
                    <span>{{vehicules[i].carac['nbPortes']}} Portes</span>
                </div>
                {% if vehicules[i].disponible == 0 %}
                <div class="dispo">
                    <h2 class="disponible">Disponibles: {{ vehicules[i].quantite }} / {{total[i]}}</h2>
                {% else %}
                <div class="dispo">
                    <h2 class="indisponible">Indisponibles: {{ vehicules[i].quantite }} / {{total[i]}}</h2>
                {% endif %}
                    <a href="{{ path('modiferDispo', {'idVehic': vehicules[i].id }) }}">Changer</a>
                </div>
            </div>
            <div class="image">
                <img src="{{ vehicules[i].image }}" alt="imageVoiture">
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}