{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/CSS/myhome.css">
{% endblock %}

{% block body %}
{% if taille > 0 %}
<div class="allLoc">
    <div id="titre"><h1>Vehicules loues par {{app.user.username}} </h1></div> 
    
    <div class="carte">
    {% for i in 0..taille %}
        <div class="annonce">
            <h2> {{vehicules[i].carac['marque']}} {{ vehicules[i].modele }} </h2>
            <div class="int-annonce">
                <div class="stats">
                    <metadata>Date debut: {{factures[i].dated | date('d/m/Y')}} </metadata>
                    <metadata>Date fin: {{factures[i].datef | date('d/m/Y')}} </metadata>
                    <div class="carac">
                        <img class="icons" src="https://img.icons8.com/pastel-glyph/24/000000/gearbox-selector.png"/>
                        <span>{{vehicules[i].carac['boite']}}</span>
                    </div>
                    <div class="carac">
                        <img class="icons" src="https://img.icons8.com/small/24/000000/engine.png"/>
                        <span>{{vehicules[i].carac['moteur']}}</span>
                    </div>
                    <div class="carac">
                        <img class="icons" src="https://img.icons8.com/material-rounded/24/000000/conference-call.png"/>
                        <span>{{vehicules[i].carac['nbPlaces']}} Places</span>
                    </div>
                    <div class="carac">
                        <img class="icons" src="https://img.icons8.com/material-outlined/24/000000/car-door.png"/>
                        <span>{{vehicules[i].carac['nbPortes']}} Portes</span>
                    </div>
                    <div class="money carac">
                        {% if factures[i].payee %}
                        <img src="https://img.icons8.com/ios/36/000000/check-dollar.png"/>
                        {% else %}
                        <img src="https://img.icons8.com/ios/36/000000/delete-dollar.png"/>
                        {% endif %}
                        <span>{{factures[i].montant}}</span>
                    </div>
                    <a id="facture" href="{{path('gen_facture')}}"><span class="material-icons ">request_page</span></a> 

                </div>
                <div class="image">
                    <img src="{{ vehicules[i].image }}" alt="imageVoiture">
                </div>
            </div>
        </div>
    {% endfor %}
    </div> 
</div>
{% endif %}
{% endblock %}