{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/CSS/myhome.css">
{% endblock %}

{% block body %}
    <h1>Tout les vehicules louer par {{app.user.username}} </h1>
    <div class="content">
        {% for i in 0..taille %}
            <div class="voiture">
                <h3> {{vehicules[i].carac['marque']}} {{ vehicules[i].modele }} </h3>
                <a href="#" class="pdf"><span class="material-icons">request_page</span></a> 
                <div>
                    <img class="icons" src="https://img.icons8.com/pastel-glyph/24/000000/gearbox-selector.png"/>
                    <span class="badge badge-pill badge-success">{{vehicules[i].carac['boite']}}</span>
                    <img class="icons" src="https://img.icons8.com/small/24/000000/engine.png"/>
                    <span class="badge badge-pill badge-success">{{vehicules[i].carac['moteur']}}</span>
                    <img class="icons" src="https://img.icons8.com/material-rounded/24/000000/conference-call.png"/>
                    <span class="badge badge-pill badge-success">{{vehicules[i].carac['nbPlaces']}} Places</span>
                    <img class="icons" src="https://img.icons8.com/material-outlined/24/000000/car-door.png"/>
                    <span class="badge badge-pill badge-success">{{vehicules[i].carac['nbPortes']}} Portes</span>
                    <span class="badge badge-pill badge-success">{{vehicules[i].carac['couleur']}}</span>
                </div>
                <img src="{{ vehicules[i].image }}" alt="imageVoiture">
                <div><metadata>Date fin de location: {{ factures[i].dateF | date('d/m/Y') }}</metadata></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}